/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
} */
#content{
    background-color: aqua;
     text-decoration: underline;
    text-transform: uppercase; color: cornflowerblue;
    border:10px;
}
/* #heading{
    background-color: rgb(232, 243, 243);
    text-decoration:dotted;
   text-transform: uppercase; color: rgb(44, 115, 246);
   
} */
/* margin : 10px 10px 10px :-  */

#parent{
    background-color: rgb(182, 247, 247);
    /* border:10px; */
    /* margin:20px; */
    padding: 30px;
    /* margin:0px 10px 20px; */
    box-sizing: border-box;  
    /* contente overflow ho jata h box sizing se */
    border: 1px solid;
    text-align: center;
    width:200px;  
    /* margin se content ko ya image ko  center me la rhe h */
    margin: auto;
}
#parent{
    p{
        background-color: rgb(216, 196, 235);
        width: fit-content; 
        /* fit content is acc. to content size */
    }
}
#img{
    background-color: rgb(216, 196, 235);
        width: fit-content; 
        margin: auto;
      
}
.parent1{
    font-size: 10px;
}
.child1{
    font-size:20px;
    /* means 20px but*/
    background-color: rgb(233, 233, 239);
    width:10em;

}
.btn{
    /* displayBlokse se button center me shift ho rha h  */
    display :block;
    padding: 20px;
    border-radius: 8px;
    border: none;
    margin: 10px auto;
    font-size: 16px;
    width: 120px;

}
.btn1{
    display:block;
    padding:8px;
    /* forSmall button */
    border-radius: 9px;
    border: none;
    margin:20px auto;
    font-size: 16px;
    width:100px;
}
body{
    height: 60vh;
    /* vh:means view height */
    height:80vw;
    /* vw:view weight */

    background-color: aquamarine;
}
.parent2{
    background-color: brown;
height: 100px;
}
/* .child2{
    background-color: rgb(226, 249, 144);

}
.p3{
    background-color: rgb(162, 191, 247);
} */
.c3{
    ol{
        background-color: cadetblue;
        
    }
    ul:first-child{
     background-color: aqua;
    }
    ul:last-child{
        background-color: burlywood;
        li:nth-child(3){
            background-color: rgb(75, 163, 239);
            width:fit-content ;
        }
    }
    ul:nth-child(3){
        li:first-child{
            background-color: rgb(183, 67, 218);
            width:fit-content;
        }
        li:last-child{
            background-color: rgb(239, 188, 86);
            width: fit-content;
        }
     /* li:nth-of-type(2)
     background-color:;  
     we can also use this */
    }
    

}
.p3+ul{
background-color: aliceblue;
}
.p4{
    display: flex;
    flex-wrap: wrap;
}
.c4{
    background-color: aliceblue;
    border: 1px solid red;
    flex-basis: 90px;
}
.c5{
    background-color: aliceblue;
    border: 1px solid red;
    display: flex;
    justify-content:space-between;
}
.p5{
    background-color: antiquewhite;
    display: flex;
    /* border:1px solid blue; */
    justify-content:flex-start ;
  align-items: flex-start;
    
}
.c11{
    
    border:2px solid blue;
    background-color: burlywood;
    width: 100px;
    margin: 70px;
    
}
.c11{
    justify-content: space-around;
}
.c11{
    justify-content: space-between;
}
